<ion-header>

  <ion-navbar>
    <ion-title>Notes</ion-title>
    <ion-buttons end>
      <button *ngIf="showMarkdown" class="menu-button"><ion-icon large name="create" (click)="edit(true)"></ion-icon></button>
      <button *ngIf="!showMarkdown" class="menu-button"><ion-icon large name="document" (click)="edit(false)"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="showMarkdown" [innerHTML]="md"></div>
  <ion-textarea *ngIf="!showMarkdown" placeholder="Enter a description" fz-elastic [(ngModel)]="text"></ion-textarea>
</ion-content>
