
<style> @keyframes yin-yang-clockwise-spin { 100% { transform: rotate( 360deg); } } @keyframes yin-yang-anticlockwise-spin
{ 100% { transform: rotate(-360deg); } }
</style>

<div style="margin:0; height: 400px;">
  <div style="margin:auto; width: 256px; height: 256px;">
    <div style="margin:0; height: 1.1em; font-size: 4em; width: 100%; text-align: center">{{label}}</div>
    <svg xmlns="http://www.w3.org/2000/svg" class="spin" [style.animation-play-state]="spinner_state" height="256" width="256"
      viewBox="-8 -8 16 16">
      <g>
        <path (click)="toggle()" [ngStyle]="yinStyle" d="m0-7a3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 0 0 7 7 7 0 1 1 0-14z" class="yin"></path>
        <circle (click)="toggle()" [ngStyle]="yangStyle" cy="-3.5" r="1.1" class="yang"></circle>
        <path (click)="toggle()" [ngStyle]="yangStyle" d="m0-7a7 7 0 1 1 0 14 3.5 3.5 0 1 1 0-7 3.5 3.5 0 1 0 0-7z" class="yang"></path>
        <circle (click)="toggle()" [ngStyle]="yinStyle" cy="3.5" r="1.1" class="yin"></circle>
      </g>
    </svg>
    <div style="margin:0; height: 1.1em; font-size: 4em; width: 100%; text-align: center">{{timeLabel}}</div>
  </div>
